/* iPhone SE     width-320px - 414px */
* {
    font-family: Montserrat, sans-serif;
}
::selection {
    color: rgb(116, 91, 207);
    background-color: bisque
}

.layout {
    position: relative;
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: 16px 1fr 16px;
    grid-template-rows: 56px 1px auto auto auto;
    grid-template-areas: 
        ". header ."
        "line line line"
        ". verh ."
        ". main ."
        "footer footer footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 48px 1fr 32px;
    grid-template-areas:
        "logo nav btn";
    width: 100%;
    background: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
}

/* LOGO */
.logo-header {
    width: 48px;
    height: 34px;
    cursor: pointer;
}
.logo-header:hover path{
    fill: rgba(114, 19, 221, 0.87);
}
.logo-header:active path{
    fill: rgba(255, 255, 0, .8);
}

/* НАВИГАЦИЯ */
.nav {
    grid-area: nav;
    display: none;
    font-size: 14px;
    font-weight: 500;
}

.nav__list {
    text-decoration: none;
    margin-right: 16px;
    color: #000
}
.nav__list:nth-last-child(1) {
    margin-right: 0;
}
.nav__list_materials {
    margin-right: 2px;
}

/* КНОПКА ПОДОБРАТЬ ПСИХОЛОГА*/
.btn-header {
    grid-area: btn;
    display: none;
    width: 230px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    color: #03B2A5;
    border-radius: 4px;
    border: none;
    background: rgb(227, 245, 245);
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}
.btn-header:hover {
    box-shadow: 0 0 10px 5px rgba(12, 142, 151, 0.5);
}
.btn-header:active {
    box-shadow: 0 0 20px 5px rgba(12, 151, 47, 0.7);
}

/* BURGER */
.burger {
    grid-area: btn;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.burger:hover path{
    fill: rgba(114, 19, 221, 0.87);
}
.burger:active path{
    fill: rgba(255, 255, 0, .8);
}


/* ЛИНИЯ */
.line {
    grid-area: line;
    width: 100%;
    border: 0.5px solid rgb(239, 245, 251);
}


.verhushka {
    grid-area: verh;
    width: 100%;
}

.verh-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 24px;
    height: 18px;
    font-size: 12px;
}

.verh-title__elem {
    text-decoration: none;
    color: rgb(51, 51, 51, .7);
}
.verh-title__elem::after {
    content: url(images/main/menu/arrow-right.svg);
    margin-left: 6px;
    margin-right: 6px;
}
.verh-title__elem:nth-last-child(1)::after {
    content: '';
}

/* ЗАГОЛОВОК */
.blog {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    margin-top: 24px;
    margin-bottom: 80px;
}

/* ФИЛЬТР */
.filter {
    position: absolute;
    display: flex;
    width: calc(100vw - 32px);
    top: 178px;
    left: 16px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.filter__btn {
    display: flex;
    margin: 2px 4px;
    padding: 6px 8px;
    color: rgb(51, 51, 51, .9);
    border: 1px solid rgb(193, 197, 205);
    border-radius: 24px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}
.filter__btn_active {
    box-sizing: border-box;
    border: 2px solid rgb(22, 200, 187);
}
.smile-svg {
    margin-right: 4px;
}


/* ГЛАВНАЯ */
.main {
    grid-area: main;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    width: 100%;
    gap: 21px 24px;
}

.main-content__block {
    position: relative;
    grid-column: span 6;
    height: 484px;
    border-radius: 16px;
    margin-bottom: 5px;
    box-shadow: 0 3px 5px #808080;
    
    &:hover {
        cursor: pointer;
        transition-duration: 0.25s;
        transform: scale(1.02);
        box-shadow: 0 3px 15px 5px #6ac7b3;
    }
}

.filter-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4px 2px;
    z-index: 99;
}
button.filter__btn {
    cursor: pointer;
}
.block-1__filter-block_elem {
    max-width: max-content;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.7);
}

.block-1 {
    position: relative;
    height: 206px;
    overflow: hidden;
}

.block-1__image {
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 16px 16px 0 0;
}


.block-2 {
    position: relative;
    height: auto;
    max-height: 249px;
    margin: 16px;
}

.block-2_zag3 {
    display: flex;
    margin: 16px 0 0 0;
    font-size: 18px;
    color: rgb(51, 51, 51);
}
.block-2_author {
    display: flex;
    margin: 4px 0 0 0;
    font-size: 12px;
    color: rgb(73, 73, 73);
}
.block-2_opis {
    display: flex;
    margin: 8px 0;
    font-size: 14px;
    color: rgb(51, 51, 51);
}
.block-2_content-date {
    display: flex;
    position: absolute;
    left: 16px;
    bottom: 16px;
    font-size: 12px;
    color: rgb(134, 134, 134);
}


.btn-main {
    position: relative;
    display: flex;
    width: 100%;
    height: 48px;
    margin-top: 28px;
    margin-bottom: 59px;
    align-items: center;
    justify-content: center;
}

.pages {
    position: absolute;
    display: none;
    left: 0;
    height: 48px;
}
.pages-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 48px;
    height: 48px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.pages-number_nocursor {
    cursor: default;
}
.pages-number_active {
    box-sizing: border-box;
    border: 1px solid rgb(3, 178, 165);
    background: rgb(227, 245, 245);
}
.v-nachalo {
    width: 95px;
    margin-right: 24px;
    color: rgb(196, 196, 196);
    background: rgb(239, 242, 242);
}

.btn-main__more {
    box-sizing: border-box;
    position: relative;
    width: 182px;
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background: rgb(53, 179, 169);
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}
.btn-main__more:hover {
    box-shadow: 0 0 10px 5px rgba(17, 106, 179, 0.5);
}
.btn-main__more:active {
    box-shadow: 0 0 20px 5px rgba(73, 148, 30, 0.7); 
}


/* FOOTER */    
.footer {
    grid-area: footer;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: auto;
    color: #fff;
    background: rgb(41, 99, 163);
}

.nav-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 19px;
}
.nav-footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-footer__link {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 16px;
    height: 24px;
    color: #fff;
    text-decoration: none;
}

.send-bar {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
.odno-pismo {
    margin: 8px 0;
    font-size: 18px;
    font-weight: 700;
}
.email-bar {
    display: flex;
    max-width: 384px;
    height: 48px;
}
.e-mail {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 4px;
}
.send-img {
    position: relative;
    cursor: pointer;
}
.polit-konfid {
    margin: 12px 0 5px 0;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.7;
}

.line-footer {
    margin-top: 20px;
    height: 2px;
    background-color: rgba(157, 157, 157, .3);
}

.ssilki {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.ssilki__link {
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}


button.filter__btn:last-child {
    margin-right: 8px;
}

/* iPhone 11 Pro Max     width-414px - 767px */
@media screen and (min-width: 414px) and (max-width: 767px) {
    .block-1 {
        height: auto;
        min-height: 206px;
        max-height: 260px;
    }
}

/* iPhone 11 Pro Max     width-414px */
@media screen and (min-width: 414px) {
    .layout {
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 72px 1px auto auto auto;
    }
    .header {
        grid-template-columns: 56px 1fr 48px;
    }
    .verh-title {
        margin-top: 16px;
    }
    .blog {
        margin-top: 32px;
        margin-bottom: 72px;
        height: 40px;
        font-size: 32px;
    }
    .filter {
        width: calc(100vw - 40px);
        top: 202px;
        left: 20px;
    }
    .main-content__block {
        height: 466px;
    }
    .block-2 {
        height: auto;
        max-height: 176px;
    }
    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }
    .polit-konfid {
        margin-bottom: 31px;
    }
}

/* iPad mini     width-768px */
@media screen and (min-width: 768px) {
    .layout {
        grid-template-rows: 76px 1px auto auto auto;
    }
    .header {
        grid-template-columns: 51px 1fr 40px;
    }
    .logo-header {
        grid-area: logo;
        width: 51px;
        height: 36px;
    }
    .logo-header__svg {  
        width: 51px;
        height: 36px;
    }
    .blog {
        margin-top: 40px;
        margin-bottom: 31px;
        height: 56px;
        font-size: 48px;
    }
    .filter {
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        top: 0;
        left: -4px;
        margin-bottom: 23px;
    }
    .main-content__block {
        grid-column: span 3;
        height: 446px;
    }
    .main-content__block:nth-child(-n+2) {
        grid-column: span 6;
        height: 599px;
    }
    .block-1-fix {
        height: 404px;
    }
    .block-2:nth-child(-n+2) {
        height: auto;
        max-height: 163px;
    }
    .block-2 {
        height: auto;
        max-height: 209px;
    }
    .btn-main {
        margin-top: 33px;
        margin-bottom: 55px;
    }
    .footer__section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        column-gap: 31px;
    }
    .nav-footer {
        max-width: 310px;
    }
    .odno-pismo {
        margin-top: 19px;
    }
    .ssilki {
        flex-direction: row;
    }
    .ssilki__link {
        margin-top: 5px;
        margin-right: 48px;
    }
}

/* iPad Pro 12.9"     width-1024px */
@media screen and (min-width: 1024px) {
    .layout {
        grid-template-columns: 32px 1fr 32px;
    }
    .header {
        grid-template-columns: 51px 1fr 230px;
    }
    .nav {
        display: flex;
        flex-wrap: nowrap;
    }
    .btn-header {
        display: initial;
    }
    .burger {
        display: none;
    }
    .main-content__block {
        grid-column: span 2;
        height: 458px;
    }
    .main-content__block:nth-child(-n+2) {
        grid-column: span 3;
        height: 499px;
    }
    .block-1-fix {
        height: 260px;
    }
    .block-1 {
        height: 206px;
    }
    .block-2:nth-child(-n+2) {
        height: auto;
        max-height: 207px;
    }
    .block-2 {
        height: auto;
        max-height: 221px;
    }
    .btn-main {
        margin-top: 35px;
        margin-bottom: 60px;
    }
    .footer {
        padding: 21px 32px;
    }
    .footer-bez-ssilok {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .footer__section {
        column-gap: 21px;
        flex-grow: 100;
    }
    .logo-footer {
        margin-top: 19px;
        flex-grow: 99;
    }
    .logo-footer__svg {
        position: relative;
        left: calc(100% - 221px)
    }
    .line-footer {
        margin-top: 0;
    }
}

/* Desktop     width-1440px + */
@media screen and (min-width: 1440px) {
    .layout {
        grid-template-columns: 120px 1fr 120px;
    }
    .header {
        grid-template-areas:
            "logo nav . btn";
        grid-template-columns: 51px 4fr 1fr 230px;
    }
    .verh-title {
        margin-left: 6px;
    }
    .blog {
        margin-top: 30px;
        margin-bottom: 29px;
    }
    .filter {
        margin-bottom: 21px;
    }
    .main-content__block {
        height: 475px;
    }
    .block-1 {
        height: 260px;
    }
    .btn-main {
        margin-top: 56px;
        margin-bottom: 96px;
    }
    .pages {
        display: flex;
    }
    .footer {
        padding: 21px 120px;
    }
}


/* ТУТ MAX-WIDTH. НЕ ПУТАТЬ!!! */
@media screen and (max-width: 768px) {
    button.filter__btn:first-child {
        margin-left: 0;
    }
}